<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep0">
      <IsReference>false</IsReference>
      <File>/home/aitnoren/.local/share/gnome-do/plugins-0.8.1.3/repository-cache/repo_0.mrep</File>
      <Url>file:///usr/share/gnome-do/plugins/main.mrep</Url>
      <Name />
      <LastModified>1900-01-01T00:00:00.0000000-08:00</LastModified>
    </Repository>
    <Repository id="rep1">
      <IsReference>true</IsReference>
      <File>/home/aitnoren/.local/share/gnome-do/plugins-0.8.1.3/repository-cache/repo_1.mrep</File>
      <Url>file:///usr/share/gnome-do/plugins/root.mrep</Url>
      <Name />
      <LastModified>1900-01-01T00:00:00.0000000-08:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>2</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>